@model Cenarius.Models.breat_cancer_ultrasound

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>breat_cancer_ultrasound</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patient_id_f0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_id_f0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_name_f1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_name_f1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_no_of_checks_today_f2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_no_of_checks_today_f2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report_date_f3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report_date_f3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report_id_f4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report_id_f4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report_no_of_checks_f5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report_no_of_checks_f5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.operator_id_f6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operator_id_f6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interpreter_id_f7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interpreter_id_f7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.machine_id_f8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.machine_id_f8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_examination_mode_f9_equals_screening_us)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_examination_mode_f9_equals_screening_us)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_examination_mode_f9_equals_diagnostic_us)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_examination_mode_f9_equals_diagnostic_us)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_examination_mode_f9_equals_both)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_examination_mode_f9_equals_both)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_00_asymptomatic_screening_f10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_00_asymptomatic_screening_f10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_11_pain_f12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_11_pain_f12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_12_palpable_mass_f13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_12_palpable_mass_f13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_13_discharge_f14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_13_discharge_f14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_20_screening_mammographic_category_f15_equals_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_20_screening_mammographic_category_f15_equals_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_20_screening_mammographic_category_f15_equals_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_20_screening_mammographic_category_f15_equals_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_20_screening_mammographic_category_f15_equals_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_20_screening_mammographic_category_f15_equals_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fibroadenoma_f31)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fibroadenoma_f31)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fibrocystic_change_f32)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fibrocystic_change_f32)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cyst_f33)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cyst_f33)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.other_f34)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.other_f34)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_41_s_p_biopsy_wide_excision_bcs_f36)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_41_s_p_biopsy_wide_excision_bcs_f36)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_42_s_p_breast_augmentation_reconstruction_f37)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_42_s_p_breast_augmentation_reconstruction_f37)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_50_other_reasons_for_breast_sono_examination_f38)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_50_other_reasons_for_breast_sono_examination_f38)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_0_category_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_0_category_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_1_category_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_1_category_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_2_category_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_2_category_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_3_category_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_3_category_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_4a_category_4a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_4a_category_4a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_4b_category_4b)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_4b_category_4b)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_4c_category_4c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_4c_category_4c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_5_category_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_5_category_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_6_category_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.us_category_f39_equals_6_category_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_0_category_0)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_0_category_0)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_1_category_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_1_category_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_2_category_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_2_category_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_3_category_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_3_category_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4a_category_4a)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4a_category_4a)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4b_category_4b)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4b_category_4b)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4c_category_4c)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4c_category_4c)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_5_category_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_5_category_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_6_category_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.combined_mammogram_and_us_final_category_f40_equals_6_category_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_0_no_need_biopsy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_0_no_need_biopsy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_1_aspiration_cytology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_1_aspiration_cytology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_2_core_biopsy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_2_core_biopsy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_3_open_biopsy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_3_open_biopsy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_4_mammography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_4_mammography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_5_mri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_5_mri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_6_other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_6_other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_0_biopsy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_0_biopsy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_1_benign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_1_benign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_2_malignant_carcinoma_in_situ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_2_malignant_carcinoma_in_situ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_3_maligant_invasive_cancer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_3_maligant_invasive_cancer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_4_malignant_other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_4_malignant_other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_5_cytology_suspicious)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_5_cytology_suspicious)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_6_cytology_atypia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_6_cytology_atypia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_7_cytology_positive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_7_cytology_positive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_8_cytology_negative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_8_cytology_negative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_9_biopsy_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pathology_results_f42_equals_9_biopsy_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.overall_summary_f82)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.overall_summary_f82)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
