@model Cenarius.Models.breat_cancer_ultrasound

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>breat_cancer_ultrasound</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.patient_id_f0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patient_id_f0, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.patient_id_f0, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.patient_name_f1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patient_name_f1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.patient_name_f1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.patient_no_of_checks_today_f2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.patient_no_of_checks_today_f2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.patient_no_of_checks_today_f2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.report_date_f3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.report_date_f3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.report_date_f3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.report_id_f4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.report_id_f4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.report_id_f4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.report_no_of_checks_f5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.report_no_of_checks_f5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.report_no_of_checks_f5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.operator_id_f6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.operator_id_f6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.operator_id_f6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.interpreter_id_f7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.interpreter_id_f7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.interpreter_id_f7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.machine_id_f8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.machine_id_f8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.machine_id_f8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_examination_mode_f9_equals_screening_us, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_examination_mode_f9_equals_screening_us)
                    @Html.ValidationMessageFor(model => model.us_examination_mode_f9_equals_screening_us, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_examination_mode_f9_equals_diagnostic_us, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_examination_mode_f9_equals_diagnostic_us)
                    @Html.ValidationMessageFor(model => model.us_examination_mode_f9_equals_diagnostic_us, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_examination_mode_f9_equals_both, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_examination_mode_f9_equals_both)
                    @Html.ValidationMessageFor(model => model.us_examination_mode_f9_equals_both, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_00_asymptomatic_screening_f10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_00_asymptomatic_screening_f10)
                    @Html.ValidationMessageFor(model => model.C_00_asymptomatic_screening_f10, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_11_pain_f12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_11_pain_f12)
                    @Html.ValidationMessageFor(model => model.C_11_pain_f12, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_12_palpable_mass_f13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_12_palpable_mass_f13)
                    @Html.ValidationMessageFor(model => model.C_12_palpable_mass_f13, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_13_discharge_f14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_13_discharge_f14)
                    @Html.ValidationMessageFor(model => model.C_13_discharge_f14, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_20_screening_mammographic_category_f15_equals_0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_20_screening_mammographic_category_f15_equals_0)
                    @Html.ValidationMessageFor(model => model.C_20_screening_mammographic_category_f15_equals_0, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_20_screening_mammographic_category_f15_equals_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_20_screening_mammographic_category_f15_equals_1)
                    @Html.ValidationMessageFor(model => model.C_20_screening_mammographic_category_f15_equals_1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_20_screening_mammographic_category_f15_equals_2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_20_screening_mammographic_category_f15_equals_2)
                    @Html.ValidationMessageFor(model => model.C_20_screening_mammographic_category_f15_equals_2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_20_screening_mammographic_category_f15_equals_3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_20_screening_mammographic_category_f15_equals_3)
                    @Html.ValidationMessageFor(model => model.C_20_screening_mammographic_category_f15_equals_3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_20_screening_mammographic_category_f15_equals_4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_20_screening_mammographic_category_f15_equals_4)
                    @Html.ValidationMessageFor(model => model.C_20_screening_mammographic_category_f15_equals_4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_20_screening_mammographic_category_f15_equals_5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_20_screening_mammographic_category_f15_equals_5)
                    @Html.ValidationMessageFor(model => model.C_20_screening_mammographic_category_f15_equals_5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fibroadenoma_f31, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.fibroadenoma_f31)
                    @Html.ValidationMessageFor(model => model.fibroadenoma_f31, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fibrocystic_change_f32, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.fibrocystic_change_f32)
                    @Html.ValidationMessageFor(model => model.fibrocystic_change_f32, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cyst_f33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.cyst_f33)
                    @Html.ValidationMessageFor(model => model.cyst_f33, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.other_f34, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.other_f34, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.other_f34, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_41_s_p_biopsy_wide_excision_bcs_f36, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_41_s_p_biopsy_wide_excision_bcs_f36)
                    @Html.ValidationMessageFor(model => model.C_41_s_p_biopsy_wide_excision_bcs_f36, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_42_s_p_breast_augmentation_reconstruction_f37, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_42_s_p_breast_augmentation_reconstruction_f37)
                    @Html.ValidationMessageFor(model => model.C_42_s_p_breast_augmentation_reconstruction_f37, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C_50_other_reasons_for_breast_sono_examination_f38, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.C_50_other_reasons_for_breast_sono_examination_f38)
                    @Html.ValidationMessageFor(model => model.C_50_other_reasons_for_breast_sono_examination_f38, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_0_category_0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_0_category_0)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_0_category_0, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_1_category_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_1_category_1)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_1_category_1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_2_category_2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_2_category_2)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_2_category_2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_3_category_3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_3_category_3)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_3_category_3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_4a_category_4a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_4a_category_4a)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_4a_category_4a, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_4b_category_4b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_4b_category_4b)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_4b_category_4b, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_4c_category_4c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_4c_category_4c)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_4c_category_4c, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_5_category_5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_5_category_5)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_5_category_5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.us_category_f39_equals_6_category_6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.us_category_f39_equals_6_category_6)
                    @Html.ValidationMessageFor(model => model.us_category_f39_equals_6_category_6, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_0_category_0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_0_category_0)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_0_category_0, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_1_category_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_1_category_1)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_1_category_1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_2_category_2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_2_category_2)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_2_category_2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_3_category_3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_3_category_3)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_3_category_3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4a_category_4a, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4a_category_4a)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4a_category_4a, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4b_category_4b, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4b_category_4b)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4b_category_4b, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4c_category_4c, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4c_category_4c)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4c_category_4c, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_5_category_5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_5_category_5)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_5_category_5, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.combined_mammogram_and_us_final_category_f40_equals_6_category_6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.combined_mammogram_and_us_final_category_f40_equals_6_category_6)
                    @Html.ValidationMessageFor(model => model.combined_mammogram_and_us_final_category_f40_equals_6_category_6, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_0_no_need_biopsy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_0_no_need_biopsy)
                    @Html.ValidationMessageFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_0_no_need_biopsy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_1_aspiration_cytology, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_1_aspiration_cytology)
                    @Html.ValidationMessageFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_1_aspiration_cytology, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_2_core_biopsy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_2_core_biopsy)
                    @Html.ValidationMessageFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_2_core_biopsy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_3_open_biopsy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_3_open_biopsy)
                    @Html.ValidationMessageFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_3_open_biopsy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_4_mammography, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_4_mammography)
                    @Html.ValidationMessageFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_4_mammography, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_5_mri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_5_mri)
                    @Html.ValidationMessageFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_5_mri, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_6_other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_6_other)
                    @Html.ValidationMessageFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_6_other, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_0_biopsy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_0_biopsy)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_0_biopsy, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_1_benign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_1_benign)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_1_benign, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_2_malignant_carcinoma_in_situ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_2_malignant_carcinoma_in_situ)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_2_malignant_carcinoma_in_situ, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_3_maligant_invasive_cancer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_3_maligant_invasive_cancer)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_3_maligant_invasive_cancer, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_4_malignant_other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_4_malignant_other)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_4_malignant_other, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_5_cytology_suspicious, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_5_cytology_suspicious)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_5_cytology_suspicious, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_6_cytology_atypia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_6_cytology_atypia)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_6_cytology_atypia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_7_cytology_positive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_7_cytology_positive)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_7_cytology_positive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_8_cytology_negative, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_8_cytology_negative)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_8_cytology_negative, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pathology_results_f42_equals_9_biopsy_, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.pathology_results_f42_equals_9_biopsy_)
                    @Html.ValidationMessageFor(model => model.pathology_results_f42_equals_9_biopsy_, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.overall_summary_f82, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.overall_summary_f82, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.overall_summary_f82, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
