@model IEnumerable<Cenarius.Models.breat_cancer_ultrasound>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patient_id_f0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_name_f1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_no_of_checks_today_f2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report_date_f3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report_id_f4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report_no_of_checks_f5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.operator_id_f6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interpreter_id_f7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.machine_id_f8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_examination_mode_f9_equals_screening_us)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_examination_mode_f9_equals_diagnostic_us)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_examination_mode_f9_equals_both)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_00_asymptomatic_screening_f10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_11_pain_f12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_12_palpable_mass_f13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_13_discharge_f14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_20_screening_mammographic_category_f15_equals_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fibroadenoma_f31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fibrocystic_change_f32)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cyst_f33)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.other_f34)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_41_s_p_biopsy_wide_excision_bcs_f36)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_42_s_p_breast_augmentation_reconstruction_f37)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.C_50_other_reasons_for_breast_sono_examination_f38)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_0_category_0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_1_category_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_2_category_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_3_category_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_4a_category_4a)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_4b_category_4b)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_4c_category_4c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_5_category_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.us_category_f39_equals_6_category_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_0_category_0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_1_category_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_2_category_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_3_category_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4a_category_4a)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4b_category_4b)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_4c_category_4c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_5_category_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combined_mammogram_and_us_final_category_f40_equals_6_category_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_0_no_need_biopsy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_1_aspiration_cytology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_2_core_biopsy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_3_open_biopsy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_4_mammography)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_5_mri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biopsy_and_other_evaluation_suggestion_f41_equals_6_other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_0_biopsy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_1_benign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_2_malignant_carcinoma_in_situ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_3_maligant_invasive_cancer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_4_malignant_other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_5_cytology_suspicious)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_6_cytology_atypia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_7_cytology_positive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_8_cytology_negative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pathology_results_f42_equals_9_biopsy_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.overall_summary_f82)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patient_id_f0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_name_f1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_no_of_checks_today_f2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.report_date_f3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.report_id_f4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.report_no_of_checks_f5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.operator_id_f6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interpreter_id_f7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.machine_id_f8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_examination_mode_f9_equals_screening_us)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_examination_mode_f9_equals_diagnostic_us)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_examination_mode_f9_equals_both)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_00_asymptomatic_screening_f10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_11_pain_f12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_12_palpable_mass_f13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_13_discharge_f14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_20_screening_mammographic_category_f15_equals_0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_20_screening_mammographic_category_f15_equals_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_20_screening_mammographic_category_f15_equals_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_20_screening_mammographic_category_f15_equals_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_20_screening_mammographic_category_f15_equals_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_20_screening_mammographic_category_f15_equals_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fibroadenoma_f31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fibrocystic_change_f32)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cyst_f33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.other_f34)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_41_s_p_biopsy_wide_excision_bcs_f36)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_42_s_p_breast_augmentation_reconstruction_f37)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.C_50_other_reasons_for_breast_sono_examination_f38)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_0_category_0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_1_category_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_2_category_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_3_category_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_4a_category_4a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_4b_category_4b)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_4c_category_4c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_5_category_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.us_category_f39_equals_6_category_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_0_category_0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_1_category_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_2_category_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_3_category_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_4a_category_4a)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_4b_category_4b)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_4c_category_4c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_5_category_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combined_mammogram_and_us_final_category_f40_equals_6_category_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biopsy_and_other_evaluation_suggestion_f41_equals_0_no_need_biopsy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biopsy_and_other_evaluation_suggestion_f41_equals_1_aspiration_cytology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biopsy_and_other_evaluation_suggestion_f41_equals_2_core_biopsy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biopsy_and_other_evaluation_suggestion_f41_equals_3_open_biopsy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biopsy_and_other_evaluation_suggestion_f41_equals_4_mammography)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biopsy_and_other_evaluation_suggestion_f41_equals_5_mri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biopsy_and_other_evaluation_suggestion_f41_equals_6_other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_0_biopsy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_1_benign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_2_malignant_carcinoma_in_situ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_3_maligant_invasive_cancer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_4_malignant_other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_5_cytology_suspicious)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_6_cytology_atypia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_7_cytology_positive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_8_cytology_negative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pathology_results_f42_equals_9_biopsy_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.overall_summary_f82)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
