<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <!-- css deps -->
    <link rel="stylesheet" href="../../Libraries/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Libraries/Bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../../Libraries/CenariusForm/CenariusForm.css" />

    <!-- js deps -->
    <script type="text/javascript" src="../../Libraries/JQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../../Libraries/Underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../../Libraries/Bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../Libraries/CenariusForm/CenariusForm.js"></script>

</head>

<body>

    <div class="container">
        <div class="col-sm-10 cenarius-main-block col-sm-offset-2">
            <div class="row">
                <center>
                    <div class="row">
                        <h1>@ViewData["Heading"]</h1>
                        (ASP.NET version: @ViewData["Version"] using @ViewData["RunTime"])
                    </div>

                    <div class="col-sm-12">
                        <div style="height: 50px"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="col-sm-4">
                                <div style="width: 30px; height: 30px; background: #5bc0de"></div><p>Group</p>
                            </div>
                            <div class="col-sm-4">
                                <div style="width: 30px; height: 30px; background: #d9534f"></div><p>Sub-Object</p>
                            </div>
                            <div class="col-sm-4">
                                <div style="width: 30px; height: 30px; background: #f0ad4e"></div><p>Complex List</p>
                            </div>
                        </div>
                    </div>

                    <h2>@ViewData["Subheading"]</h2>
                </center>
                <cenarius-hr />
            </div>

            <cenarius-form></cenarius-form>
            <script type="text/javascript">
                    $('cenarius-form').cenariusForm(@Html.Raw(ViewData["Forma"]))
            </script>
        </div>
    </div>

</body>
</html>