<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <!-- css deps -->
    <link rel="stylesheet" href="../../Libraries/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Libraries/Bootstrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../../Libraries/CenariusForm/CenariusForm.css" />

    <!-- js deps -->
    <script type="text/javascript" src="../../Libraries/JQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../../Libraries/Underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../../Libraries/Bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../Libraries/CenariusForm/CenariusForm.js"></script>

</head>

<body>

    <div class="container">
        <div class="col-sm-8 cenarius-main-block col-sm-offset-2">

            <div class="row">
                <center>
                    <h1>@ViewData["Heading"]</h1>
                    (ASP.NET version: @ViewData["Version"] using @ViewData["RunTime"])
                    <h2>@ViewData["Subheading"]</h2>
                </center>
                <cenarius-hr/>
            </div>

            <cenarius-form></cenarius-form>
            <div id="res" class="alert"></div>
            <script type="text/javascript">
                    $('cenarius-form').cenariusForm(@Html.Raw(ViewData["Forma"]))
            </script>

        </div>
    </div>

</body>
</html>