<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <!-- css deps -->
    <link rel="stylesheet" href="../../Libraries/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Libraries/CenariusForm/CenariusForm.css" />

    <!-- js deps -->
    <script type="text/javascript" src="../../Libraries/JQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../../Libraries/Underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../../Libraries/Bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../Libraries/CenariusForm/CenariusForm.js"></script>

</head>

<body>

    <div class="container cenarius-content">
        <div class="row">
            <h1>@ViewData["Heading"]</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <cenarius-form></cenarius-form>
            </div>
        </div>
    </div>

    <div class="container cenarius-ctrl-panel">
        <div class="row">
            <button type="button" class="btn btn-danger btn-lg" id="cenarius_reset_btn">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;Reset Fields
            </button>

            <button type="button" class="btn btn-success btn-lg" id="cenarius_submit_btn">
                <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;&nbsp;Submit
            </button>

            <button type="button" class="btn btn-info btn-lg" id="cenarius_summarize_btn">
                <span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;&nbsp;Summarize
            </button>
        </div>

    </div>

    <script type="text/javascript">
        $('cenarius-form').cenariusForm(@Html.Raw(ViewData["Forma"]));
        console.log('(ASP.NET version: @ViewData["Version"] using @ViewData["RunTime"])');
    </script>
</body>
</html>